<style>
footer {
  text-align: center;
  background-color: #333;
  color: #f2f2f2;
  display: block;
  margin-top: 300px;
}
</style>

<footer>
  <p>Author: Priya Hinduja<br>
  <a href="mailto:priyahinduja15@gmail.com">priyahinduja15@gmail.com</a></p>
</footer>